<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Desktop.Properties.Settings>
      <setting name="SignedInID" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Email" serializeAs="String">
        <value />
      </setting>
      <setting name="DisplayName" serializeAs="String">
        <value />
      </setting>
    </Desktop.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Desktop.Properties.Settings>
      <setting name="FirebaseAppUri" serializeAs="String">
        <value>https://itrw322final-464ab.firebaseio.com/</value>
      </setting>
      <setting name="AuthFirebaseKey" serializeAs="String">
        <value>AIzaSyDBR4cxxXePZB2Y-wsf8yFWv7fsKVh7pLY</value>
      </setting>
      <setting name="FirebaseStorage" serializeAs="String">
        <value>itrw322final-464ab.appspot.com</value>
      </setting>
      <setting name="NormalFireKey" serializeAs="String">
        <value>LASzC2b1RT24P8qgHX1flqqYMlG7IYpKNbrUXn5c</value>
      </setting>
    </Desktop.Properties.Settings>
  </applicationSettings>
</configuration>